<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home - Tailwind CSS</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-green-200 min-h-screen flex ">
<div class="container mx-auto px-4">
  <nav class="bg-teal-700 text-white p-4 rounded-lg shadow-md">
    <ul class="flex justify-evenly">
      <li><a href="/admin/manage-users" class="hover:underline">Manage User</a></li>
      <li><a href="#" class="hover:underline">Category</a></li>
      <li><a href="#" class="hover:underline">Product</a></li>
      <li><a href="#" class="hover:underline">Customer</a></li>
      <li><a href="#" class="hover:underline">Order</a></li>
      <li><a href="#" class="hover:underline">View Order</a></li>
      <li><a href="/logout" class="hover:underline">Logout</a></li>
    </ul>
  </nav>
</div>
</body>

</html>
